<!DOCTYPE html>
<html>
	<head>

		<title>ng-bootstrap-daterangepicker</title>

		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">

	</head>
	<body>

		<br />

		<div ng-app="ngBootstrap" ng-controller="SampleCtrl" class="container">

			<div>
				<pre>&lt;input type="daterange" ng-model="dates1"> <span>{{</span>dates1|json}}</pre>
				<input type="daterange" ng-model="dates1"> <code>{{dates1|json}}</code>
			</div>
			<hr>
			<div>
				<pre>&lt;input type="daterange" ng-model="dates2" format="MMM DD" separator="/"> <span>{{</span>dates2|json}}</pre>
				<input type="daterange" ng-model="dates2" format="MMM DD" separator="/"> <code>{{dates2|json}}</code>
			</div>
			<hr>
			<div>
				<pre>&lt;input type="daterange" ng-model="dates3" separator="/" min-date="2013-09-10" max-date="2013-09-20" limit="1 day"> <span>{{</span>dates3|json}}</pre>
				<input type="daterange" ng-model="dates3" separator="/" min-date="2013-09-10" max-date="2013-09-20" limit="1 day" > <code>{{dates3|json}}</code>
			</div>
			<hr>
			<div>
				<pre>&lt;input type="daterange" ng-model="dates4" ranges="ranges"> <span>{{</span>dates4|json}}</pre>
				<input type="daterange" ng-model="dates4" ranges="ranges"> <code>{{dates4|json}}</code>
			</div>

		</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../bower_components/moment/moment.js"></script>
		<script src="../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script src="../bower_components/angular/angular.js"></script>

		<script src="../src/ng-bs-daterangepicker.js"></script>

		<script>
			angular
				.module('ngBootstrap')
				.controller('SampleCtrl', function($scope, $filter) {
						$scope.dates2 = { startDate: moment('2013-09-20'), endDate: moment('2013-09-25') };
						$scope.dates3 = { startDate: moment(), endDate: moment().add(1, 'day') };
						$scope.dates4 = { startDate: moment().subtract(1, 'day'), endDate: moment().subtract(1, 'day') };
						$scope.ranges = {
							'Today': [moment(), moment()],
							'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
							'Last 7 days': [moment().subtract('days', 7), moment()],
							'Last 30 days': [moment().subtract('days', 30), moment()],
							'This month': [moment().startOf('month'), moment().endOf('month')]
						};
					});
		</script>

	</body>
</html>